
.body-content {
    padding-bottom: 15px;
}


.body-content .my-wishlist-page .my-wishlist table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    vertical-align: middle;
    border: 1px solid #ddd;
    padding: 10px;
}

.customer-header {
    color: #666565;
    font-weight: bold;
}

.customer-modal-content {
    /*background: #0083C1;*/
}

.customer-modal-content .modal-header {
    border-bottom: 1px solid #efefef
}

.customer-body {
    color: #ffffff;
}

.customer-modal-content .modal-header button {
    margin-top: -42px;
}

.customer-modal-content .modal-footer {
    border-top: 1px solid #efefef
}


.notification-container > i{
    color: white;
    font-size: 18px;
    margin-right: 10px;
}

.notification-container > span{
    color: white;
    font-size: 14px;
}

.notification-container {
    text-align: center;
}

[data-remove-item]:hover, .add-to-cart:hover, [data-update-currency]:hover {
    cursor: pointer;
}

.info-boxes .info-box {
    padding: 26px 25px;
}

.info-boxes-inner {
    margin-bottom: 30px;
}

.header-cart-content {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 10px;
    margin-bottom: 10px;
    font-size: 13px;
}

.payment-method{

}


.color-green {
    color: #84b943!important;
}

.block {
    display: block!important;
}

.bold {
    font-weight: bold!important;
}

.color-red {
    color: red!important;
}



.timer-wrapper {
    display: block;
    position: relative;
    top: 6px;
}

#dataTable_filter > label {
    float: right;
}

#dataTable_paginate {
    text-align: right;
}

.confirmation-message {
    text-align: center;
}



.error-box {
    border: 1px solid red;
    box-shadow: 0px 4px 17px red;
}


.error-color {
    color: red!important;
}

.add-button {
    /*background: #0083C1!important;*/
    /*padding: 10px;*/
    /*border-radius: 2px;*/
    /*width: 113px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}

.add-button, .add-button * {
    color: white;
}

.add-button a:hover {
    color: white!important;
}

.add-button:hover {
    /*background: #064d6f!important;*/
}

.social .fa-whatsapp {
    font-size: 22px;
    display: inline-block!important;
    text-align: center;
    padding: 0;
    background: #2ab200 !important;
    width: 38px;
    border-radius: 5px;
    padding-left: 5px;
    color: white;
}

.section-tab {
    margin-top: 35px;
}

.logo-wrapper {
     background: #f1f1f1;
}

.calculation {
    display: block;
}

.calculation * {
    display: inline-block;
    /*margin-left: 5px;*/
}

.calculation > span {
    display: inline-block;
    font-size: 31px;
}

.calculation > h2 {
    margin-top: 0!important;
}

.btn-transaction {
    margin-right: 5px;
}

.btn-transaction:first-of-type {
    margin-right: 0;
}

.cap {
    text-transform: capitalize;
}

.currency {
    padding: 10px;
    border: 1px solid #b8babb;
}

.c-list {
    display: inline-block;
    margin-right: 6px;
    border-right: 1px solid #b8babb;
    border-left: 1px solid #b8babb;
    padding: 0 5px 0 5px;
}

.rate-base {
    margin-top: 0
}

.table-item {
    text-transform: capitalize!important;
}

.table-head {
    text-transform: capitalize!important;
    font-size: 12px;
}

.code {
    background: #80b8e8;
    border-color: #186eb7!important;
    font-weight: bold;
}

.green {
    background: #e6ffe6;
}

.red {
    background: #e6aeae;
}

.true, .false {
    padding: 5px;
    border-radius: 50%;
    background: #eaffea;
    color: white;
}

.true {
    background: #509a50;
}

.false {
    background: #983232;
}


.action {
    /*color: #ef2828;*/
    font-size: 14px;
    font-weight: 700;
    padding: 4px;
    border: 1px solid #8a8a8a;
    color: #8a8a8a;
    border-radius: 6px;
}

.receive-box *{
    display: inline-block;
}

.receive-box > input{
    width: 276px;
}

.top-body-menu {
    margin-bottom: 17px;
}

.no-mg-b {
    margin-bottom: 0!important;
}

.no-p-l {
    padding-left: 0!important;
}

.no-p {
    padding: 0!important;
}

.d-inline {
    display: inline;
}

@media (min-width: 768px) {
    .modal-receive {
        width: 850px!important;
        margin: 30px auto!important;
    }
}

.dropdown-toggle{
    padding: 0;
    background: inherit;
    border: 0;
    color: inherit;
}

.control-label.brk-php-label {
    color: #000000;
    font-weight: normal;
}

.legend {
    color: black;
    margin-bottom: 23px;
    padding-bottom: 10px;
    display: block;
    border-bottom: 1px solid #e6dcdc;
    font-size: 16px;
    width: 90%;
}


[data-action]:hover {
    cursor: pointer;
}

[data-notification-area]{

    /*background-color: #eee;*/
    /*transform: scaleY(0);*/
    /*transform-origin: top;*/
    /*transition: transform 0.26s ease;*/
}

[data-notification-area]:hover{
    /*transform: scaleY(1);*/

}

.notification {
    margin-bottom: 5px!important;
}

.notification:last-of-type {
    margin-bottom: 20px!important;
}

.navbar-default .navbar-nav > a:focus, .navbar-default .navbar-nav > a:active {
    color: #555;
    background-color: #e7e7e7;
}

.navbar-brand {
    /*border: 1px solid;*/
}


caption {
    text-align: left;
    margin-bottom: 1px;
    /* display: inline-block; */
    /* float: right; */
    position: absolute;
    top: -53px;
    left: 76px;
}

.btn-default[data-fileblob] {
    background-color: white!important;
    color: gray;
}

.dataTables_length {
    margin-bottom: 14px;
}

.underline {
    text-decoration: underline;
}

/*.top-bar .cnt-account {*/
     /*float: left;*/
    /*padding: 6px 0px;*/
/*}*/

.navbar-default .navbar-nav>li>a {
    color: #f1f1f1;
    /*text-transform: uppercase;*/
}

.navbar-default .navbar-nav>li>a:hover {
    color: #ababab;
}

.profile {
    width: 250px;
    /*height: 250px;*/
    /*border-radius: 50%;*/
    /*border: 2px solid gray;*/
}

.red-rd-bg {
    margin-top: 10px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,0) 0%, rgba(247,9,40,1) 100%);
}

.green-rd-bg {
    margin-top: 10px;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,0) 8%, rgba(34,193,195,1) 100%);
}

.gray-rd-bg {
    margin-top: 10px;
    background: rgb(136, 136, 136);
    background: linear-gradient(0deg, rgba(34,193,195,0) 8%, rgb(136, 136, 136) 100%);

}

.blue-rd-bg {
    margin-top: 10px;
    background: rgb(34,152,195);
    background: linear-gradient(0deg, rgba(34,152,195,0.19791666666666663) 8%, rgba(34,152,195,1) 100%);
}

.receive-form {
    padding-top: 20px;

}

.transaction-details {
    /*margin-top: 10px;*/
}

/*.no-mg-b {*/
    /*margin-bottom: 0!important;*/
/*}*/

.no-right-border-r {
    border-top-right-radius: 0!important;
    border-bottom-right-radius: 0!important;
    -webkit-appearance: none!important;
}

option , select{
    text-transform: capitalize!important;
}


.no-mg-t {
    margin-top: 0!important;
}

.more-info {
    text-decoration: underline;
    color: gray;
}

.more-info:hover {
    cursor: pointer;
}

.baseCurrency {
    text-transform: uppercase;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #7d7d7d!important;
}

.w-20 {
    width: 20%!important;
}

.tSubItem {
    font-size: 11px!important;
}

.bg-low-risk {
    border: none;
    background: #0e0e0e !important;
}

.bg-safe {
    border: none;
    background: #bba200 !important;
}

.bg-no-risk {
    border: none;
    background: #7abd7a!important;
}

.p-low-risk {
    border: none;
    border-top: solid 3px #0e0e0e !important;
}

.p-safe {
    border: none;
    border-top: solid 3px #bba200 !important;
}

.p-no-risk {
    border: none;
    border-top: solid 3px #7abd7a!important;
}

.headerSection {
    /*background: #373737;*/
    color: white;
    /*padding: 20px;*/
    /*padding-bottom: 20px;*/
    margin-top: 20px;
}

.headerSection > p {
    color: #c4c4c4;
    font-size: 14px;
}

.headerSection > h4 {
    background: black;
    display: block;
    width: auto;
    padding: 20px;
    font-size: 25px;
    color: #c6a556;
    font-weight: bold;
}

.dataTables_filter .searchBtn {
    left: 10px;
    position: relative;
}

.btn-default {
    background: rgba(255,255,255,.15);
    color: #000000;
    font-size: 12px;
    /* height: 33px; */
    font-weight: 700;
}

.floatingHeaderSection   {
    position: fixed;
    top: 0;
    width: 100%!important;
    z-index: 99;
    margin-top: 0;
    left: 0;
    right: 0;
}

.fixtureTable {
    font-size: 12px!important;
    border: none!important;
}

.score > .mflag > img {
    width: 20px;
    height: 20px;
}

.score > .mflag {

    width: 31px;
    height: 31px;
    border-radius: 10px;
    border: solid #dedede 2px;
    padding: 2px;
    display: inline-block;
    padding-top: 4px;

}

.predictionHolder {
    /*margin-top: 10px;*/
    padding: 5px;
    border: solid #dedede 1px;
    color: #747474;
    border-radius: 5px;
    overflow: hidden;
    height: 35px;
    position: relative;
    /*padding-bottom: 5px;*/
}

.PredictionLabelFull {
    display: block;
}

.hintResult {
    position: absolute;
    top: 20px;
    left: 140px;
    width: 50px;
    display: inline-block;
    font-size: 8px!important;
    background: #455459!important;
    color: #939393;

}

.hint {
    position: absolute;
    background: red;
    /* transform: rotate(-48deg); */
    top: 20px;
    left: -1px;
    color: white;
    /* overflow: hidden; */
    width: 59px;
    /* padding-top: 10px; */
    /* height: 50px; */
    display: inline-block;
    font-size: 8px!important;
    /* opacity: 0.8;
}

.league {
    display: block;
    font-size: 10px;
    width: 100%;
    background-color: white;
    color: black;
}

.score {
    /*padding-top: 10px;*/
}

.fixtureTable > tbody > tr > td {
    border-left: none!important;
    border-right: none!important;
}

.showOnMobile  {
    display: none!important;
}

.frmSearch .searchBtn {
    width: 61%!important;
    left: 66px;
}

.score > label {
    font-size: 13px;
    font-weight: bold;
}

@media screen and (max-width: 714px) {

    score > label {
        font-size: 16px;
        font-weight: bold;
    }

    .vsHolder {
        width: 150px;
    }

    .width_100px {
        width: 120px;
        display: block;
    }

    .hideOnMobile {
        display: none!important;
    }

    .showOnMobile  {
        display: block!important;
    }

    .frmSearch .input-group {
        width: 100%!important;
    }

    .frmSearch  #startDate {
        margin-left: 0!important;
    }

    .frmSearch .searchBtn {
        width: 100%!important;
        left: 0;
        margin-bottom: 10px;
    }

    .dataTables_filter label {
        display: block;
        width: 100%;
        margin-top: 10px;
    }

    .dataTables_filter label input{
        width: 95%!important;
        display: block!important;
        margin-left: 0!important;
    }

    .modal-dialog {
        /*z-index: 999999999999999999999999;*/
    }

    .predictionHolder {
        height: 111px!important;
        margin-top: 5px;
    }

    .nav > li {
        position: relative;
        display: block;
        border-bottom: solid 1px #0a1418;
        margin-left: 17px;
        margin-right: 17px;
    }

    .nav > li.no-border {
        border: none!important;
    }

    .navbar-nav-menu {
        display: none;
        text-align: left;
        border-top: solid 2px #0a262f!important;
        margin-top: 0;
    }

    .hamburger {
        display: block!important;
    }

    .livescoreBarIcon {
        padding: 4px;
        margin-right: 10px!important;
        position: relative!important;
        top: -3px!important;
    }

    .frmSearch .form-group {
        margin-bottom: 0 !important;
    }

    .fixtureTable {
        font-size: 11px!important;
    }

    .no-p-l-and-r{
        padding-left: 0;
        padding-right: 0
    }

    .predictionTable {
        /*width: auto!important;*/
    }

    .predictionOnDesktop {
        display: none!important;
    }

    .predictionOnMobile {
        display: block!important;
    }

    .league>div {
        flex-direction: column;
        /*align-items: flex-start;*/
        align-items: flex-start!important;
    }

    .league>div a {
        margin: 0;
    }

    .counter_m {
        /*display: contents!important;*/
    }

    .wf.info {
        justify-content: flex-start!important;
    }

    .wf.info span {
        margin-right: 4px;
    }

    .count_matches {
        /*margin-left: 10px!important;*/
    }

    .cpanel-group {
        margin-top: 10px;
    }

    .cookieInfo {
        height: 41px!important;
    }

    .footerContainer > div {
        margin-bottom: 10px;
    }

    .text-center {
        text-align: center!important;
    }

    /*.no-p-l-lg {*/
    /*    padding-left: initial!important;*/
    /*}*/

    /*.no-p-r-lg {*/
    /*    padding-right: initial!important;*/
    /*}*/

    .panel-wrapper {
        margin-bottom: 10px!important;
    }

    .btn-themed {
        width: 100%;
        margin-bottom: 10px;
    }

    .searchBtnHome {
        display: block;
        width: 100%;
        margin-top: 10px;
    }

    .select2-container {
        width: 100%!important;
        margin-bottom: 10px;
    }

    .headerFocusx > .lbl-c {
        display: block;
        margin-bottom: 10px;
        text-align: left;
    }

}

@media (min-width: 768px) {
    .no-p-l-lg {
        padding-left: 0;
    }

    .no-p-r-lg {
        padding-right: 0;
    }


}

@media (max-width: 450px) {
    body {
        /*font-size: 11px !important;*/
        touch-action: pan-x pan-y;
    }
}

.breadcrumb-divider {
    color: green;
    margin-left: 8px;
}

.breadcrumb-box {
    border-top: none!important;
}

.breadcrumb-inner li {
    margin-right: 0px!important;
    padding-right: 0px!important;
    color: #666666;
}

.recentFormWrapper > label {

    display: inline-block;
    padding: 2px 2px 2px 4px;
    margin-right: 2px;
    color: #ffffff;
    font-size: 9px;
    width: 15px !important;
    height: 15px !important;
    border-radius: 2px;
    margin-bottom: 0;
    margin-top: 0;

}

.recentFormWrapper > .L {
    background: #f14c45;;
}

.recentFormWrapper > .D {
    background: #ff9800;
}

.recentFormWrapper > .W {
    background: #70c94f;
}

li.active {
    border-bottom: solid 3px #00a65a;
}
.headerWrapper {
    transition: width 2s, height 4s;
}

.prediction-holder {
    border: solid 1px black;
    padding: 2px;
    text-transform: uppercase;
    text-align: center;
}

.predictionOnMobile {
    display: none;
}

.predictionOnDesktop {
    display: block;
}

.counter_m {
    flex: 1;
    justify-content: flex-end;
    flex-direction: row !important;
    /* padding: 3px 5px; */
    /* max-width: 100px; */
}

span.count_matches, span.count_live {
    padding: 3px 5px;
    background: var(--content-bg);
    border-radius: 3px;
    margin: 0 2px;
    min-width: 22px;
    text-align: center;
    color: var(--primary-color);
}

.panel, .panel-group {
    margin-bottom: 3px;
    border: none!important;
}

.cpanel-group {
    border-top: 2px solid rgb(224, 227, 230) !important;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cpanel-header{
    background: var(--light3) !important;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1em;
    padding-left: 6px;
}

.predictionTable {
    margin-bottom: 0!important;
}

.predictionTable > tbody > tr > td {
    border: none!important;
    border-bottom: 1px solid #ddd!important;
}

.predictionTable > tbody > tr:last-of-type > td {
    border: none!important;
    border-bottom: none!important;
}

.panel-wrapper {
    border: none!important;
}

.hamburger {
    display: none;
    font-size: 24px;
    right: 9px;
    top: 12px;
    color: #777;
    position: absolute;
}

.navbar > .navbar-nav-menu {
    display: block;
}

.headerWrapper{
    background: #001e28;
    margin-bottom: 20px;
}

body{
    font-family: inherit!important;
}

.navStyle {
    background: #0f2d37;
    color: white!important;
    box-sizing: border-box;
    cursor: pointer;
    border: none;
    font-weight: bold;
}

.headerSubTitle {
    color: #464f52;
    margin: 0px 0px 15px 0px;
    background: #0a232b
}

.btn-primary {
    background: #001e28!important;
}

.containerMain {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
}

.viewPredictionBtn {
    height: 35px;
}

.scoreDetail {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    padding: 0 3px 0 3px;
}

.scoreDetail > label{
    margin-bottom: 0;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: #042029;
    text-align: center;
}

.footerContainer{
    padding-top: 20px;
    color: #fff;
    width: 100%;
}

.footerContainer > a {
    font-size: 5px;
    border: solid 1px #425960;
    border-radius: 10px;
    display: inline-block;
    padding: 5px;
}

.fa-twitter {
    color: #4099FF;
}

.fa-facebook {
    color: #3B5998;
}

.fa-youtube-play {
    color: #e52d27;
}

.fa-rss {
    color: #FF6600;
}

.fa-vine {
    color: #00a478;
}

.fa-flickr {
    color: #ff0084;
}

.fa-twitch {
    color: #6441A5;
}

.fa-linkedin {
    color: #007bb6;
}

.fa {
    opacity: 0.7;
    transition: 1s;
    -webkit-transition: 1s;
}

.fa:hover {
    opacity: 1;
    transition: 1s;
    -webkit-transition: 1s;
}

.copyRight{
    border: solid 1px #425960;
    border-radius: 10px;
    display: inline-block;
    padding: 5px;
    font-size: 11px;
    height: 27px;
    vertical-align: top;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    color: #bbbbbb;
}

.cookieInfo {
    border: solid 1px #425960;
    border-radius: 10px;
    display: inline-block;
    padding: 5px;
    font-size: 11px;
    height: 27px;
    vertical-align: top;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    color: #bbbbbb;
}

.hFocus {
    font-size: 25px;
    display: block;
    padding-bottom: 10px;
    border-bottom: solid 2px #e5e5e5;
    width: 500px;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    /*padding-bottom: 2.5rem;    !* Footer height *!*/
    /*height: 95vh!important;*/
}
.loginModal {
    width: 350px;
}

.alert-info {
    color: #31708f!important;
    background-color: #d9edf7!important;
    border-color: #bce8f1!important;
}

a {
    color: #395268;
    /*text-decoration: underline;*/
}
.action-icon {
    position: relative;
    top: 2px;
    margin-right: 5px;
}

.content-wrap {
    /*height: 121vh!important;*/
}
.footerContainer {
    padding-top: 15px!important;
}
.footer {
    /*position: absolute!important;*/
    /*background-color: #0f2d37!important;*/
    background-color: #f4f4f4;
}

.emphasis h2
{
    margin-bottom:0;
}

figcaption.ratings
{
    /*margin-top:20px;*/
}
.ratings a
{
    color:#f1c40f;
    font-size:11px;
}
.ratings a:hover
{
    color:#f39c12;
    text-decoration:none;
}

.author-lbl {
    /*position: absolute;*/
}

.full-width {
    width: 100%;
}

.p-no-default {
    border: none;
    border-top: solid 3px #cacaca!important;
}

.tb-action {
    padding: 5px;
}

.form-label-group {
    margin-top: 10px;
}

.btn-themed {
    line-height: 22px;
}

.select2-selection__rendered {
    /*height: 115px;*/
}

.hFocusSm {
    font-size: 15px;
    display: block;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    /*border-bottom: solid 2px #e5e5e5;*/
    /*width: 500px;*/
}


.divider {
    border: none!important;
    /*border-top: solid 3px #0e0e0e !important;*/
    background: #0f2d37!important;
    color: white;
}

.headerFocus {
    font-size: 25px;
    display: block;
    padding-bottom: 10px;
    border-bottom: solid 2px #e5e5e5;
    width: 500px;
    margin-top: 5px;
}

.pSubHeader {
    color: #8b8b8b;
}

blockquote {
    padding: 10px 14px;
    margin: 0 0 0px;
    font-size: 12.5px!important;
    border-left: 7px solid #eee;
    color: #727272;
    /*font-style: italic;*/
}

.iconInq{
    font-size: 19.5px!important
}

.livescoreBarIcon {
    display: inline-block;
    /* transform: rotate(-48deg); */
    position: absolute;
    top: 3px;
    padding: 3px;
}

iframe > div.gambling_widget {
    display: none;!important;
}

.adLeft {
    height: 140px!important;
    /*width: 360px!important;*/
}

:root {
    --primary-color: rgba(0,0,0,1);
    --primary-color-hover: #47cc2b;
    --secondary-color: #648496;
    --bg-color: rgba(255,255,255,1) !important;
    --content-bg: rgba(255,255,255,1) !important;
    --light: rgba(239,241,243,1) !important;
    --light3: rgba(239,241,243,1) !important;

    --secondary-color: rgba(179,188,193,1) !important;
    --secondary-color2: rgb(40 42 44) !important;
    --primary-color-hover: rgba(122,189,122,1) !important;
    --inplay: rgba(241,76,69,1) !important;
    --border-color: #e0e6eb57 !important;
    --border-color-2: #e0e6eb57 !important;
}

div#fixtures, div#wg-fixtures, div#season_fixtures, div#fav_fixtures {
    background: var(--content-bg) !important;
}
div#fixtures, div#wg-fixtures, div#season_fixtures, div#fav_fixtures {
    -webkit-box-flex: 7;
    -ms-flex: 7 1;
    flex: 7 1;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*, .article {
    transition: background-color .11s;
    transition: background-color 0.3s ease;
}

div {
    display: block;
}
body.front-page.load {
    cursor: default !important;
}

.league, .heading {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 35px;
    font-weight: 500;
    border-bottom: 1px solid #e0e6eb57 !important;
    padding-right: 5px;
    padding-left: 5px;
    border-left: 0;
    background: rgba(239,241,243,1) !important;;
    border-bottom: 1px solid #e0e6eb57 !important;
}

.league, .heading, .league.league_[aria-expanded="true"], .league.league_[data-open="true"] {
    font-size: 1em;
    /* min-height: 40px; */
    border: 0 !important;
    border-radius: 0 !important;
    font-weight: bold;
    letter-spacing: 0.5px !important;
    margin-top: 5px;
    border-radius: 5px !important;
    background: rgb(224 227 230) !important;;
}

img.flag {
    margin: 0 10px 0 0;
    width: 21px !important;
    height: 15px !important;
    border-radius: 2px !important;
}
.league img {
    margin: 0 10px 0 0;
}
.flag {
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.league>div {
    display: flex;
    line-height: 1.2;
    align-items: center;
}

.league a {
    margin: 0 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: var(--primary-color);
    font-weight: 500;
}

#fixtures .match, #wg-fixtures .match, #season_fixtures .match, #tabs .match, #fav_fixtures .match, .match.i, #tv_fixtures .item.def {
    min-height: auto !important;
    margin: 2.5px 0 5px 0 !important;
    border-radius: 5px !important;
}

#fixtures .match, #wg-fixtures .match, #season_fixtures .match, #tabs .match, #fav_fixtures .match, .match.i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 58px;
    position: relative;
    flex: 1;
    margin: auto;
    align-items: stretch;
    align-items: center;
}

.tm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#fixtures .tm span, #fav_fixtures .tm span, #season_fixtures .tm span, .match.i .tm span {
    white-space: nowrap;
    position: relative;
    width: auto;
    text-align: center;
    line-height: 1;
    margin-bottom: 3px;
}

div.mteams {
    max-width: 230px !important;
}

div.mteams {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: space-around;
    align-items: flex-start;
    -ms-flex: 1;
    flex-direction: column;
    white-space: nowrap;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    padding: 5px 0;
}
.mteams {
    line-height: 1.8;
}

.mteams .home, .mteams .away {
    font-weight: 400;
}

.mteams .home, .mteams .away {
    text-transform: none !important;
    /*font-size: !important;*/
    /*font-weight: !important;*/
    letter-spacing: 0 !important;
}
.mteams .home, .mteams .away {
}
.mteams .home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    direction: rtl;
}

.mteams>.home>div:nth-child(1), .mteams>.away>div:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

div.mteams img {
    width: 14px;
    height: 14px;
    margin: 0 10px;
    z-index: 11;
}

.mteams .home, .mteams .away {
    font-weight: 400;
}

.mteams .home, .mteams .away {
    text-transform: none !important;
    /*font-size: !important;*/
    /*font-weight: !important;*/
    letter-spacing: 0 !important;
}
.mteams .home, .mteams .away {
}
.mteams .away {
    text-align: right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.match.i .score {
    display: flex !important;
    flex-direction: column;
    align-items: flex-end;
    /* line-height: 1.8; */
    border-right: 1px solid var(--border-color-2);
    padding: 0 10px;
    font-weight: 600;
}

.score {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
}

.match.i .score span {
    /* flex: 1; */
    -ms-flex-align: center;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    background: var(--light3);
    /* color: var(--content-bg); */
    width: 25px;
    text-align: center;
    border-radius: 3px;
    margin: 1px 0;
    height: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}

span.second_text.status_info {
    /*width: 50px;*/
    font-weight: bold;
    text-transform: capitalize;
    font-size: 10px;
    letter-spacing: 0.6px;
    text-align: center;
}

span.second_text {
    color: var(--secondary-color) !important;
}


.wf.info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
}

.wf.info a {
    z-index: 11;
    position: relative;
    border-radius: 0 !important;
}

.wf.info span {
    width: auto !important;
    padding: 0 5px !important;
}

.wf.info span {
    font-size: 16px;
    position: relative;
    z-index: 11;
    border-radius: 0 !important;
    width: 30px;
    font-weight: 400;
    border: 1px solid var(--secondary-color2);
    text-transform: uppercase;
    border-radius: 3px !important;
    margin: 0 3px;
    color: var(--secondary-color2);
}
span.live_btn {
    border-radius: 5px;
}
span.live_btn {
    font-size: 10px !important;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 30px;
    height: 20px;
    line-height: 1;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border: none;
    text-transform: uppercase;
    position: relative;
}

span.second_text.status_info {
    /*width: 50px;*/
    font-weight: bold;
    text-transform: capitalize;
    font-size: 10px;
    letter-spacing: 0.6px;
    text-align: center;
    margin-left: 10px;
    color: #515151!important;
}
.match.i .score span {
    /* flex: 1; */
    -ms-flex-align: center;
    display: -ms-flexbox;
    -ms-flex-pack: center;
    background: var(--light3);
    /* color: var(--content-bg); */
    width: 25px;
    text-align: center;
    border-radius: 3px;
    margin: 1px 0;
    height: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.coupon{
    padding: 10px;
    background: #0f2d37;
    margin-bottom: 12px;
    color: #00a65a;
    font-weight: bold;
}